.osd-container {
    height: 50dvh;
}

.annotation-tooltip {
  position: fixed;
  display: none;
  background: rgba(0,0,0,0.85);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  width:100px;
  pointer-events: none;
  z-index: 1;
}
